/**** 🌱 ROOT CHANGES 🌱 ****/
:root {
    --radius: 8px !important;
}




/**** 💄 ESTHETICAL & ACCESIBILITY 💄 ****/

/** REDESIGN media player **/
.plyr__controls, .plyr__control:hover {border-radius: 999px !important;}

/** REDESIGN date separator **/
._content_b6w6v_6 > .swiper > .swiper-wrapper > .swiper-slide-visible > .list > .giivymft > .sqadhkmv > .separator:has(.date) { display: none !important; }
.separator .date span:has(i[class="ph-caret-up ph-bold ph-lg icon"]), .separator .date span i[class="ph-caret-down ph-bold ph-lg icon"] {display: none !important;}
.list .sqadhkmv.noGap > .separator:has(.date) {
    background: var(--X2);
    box-shadow: var(--divider) 0px 0px 15px -4px inset !important;
}
@media (prefers-color-scheme: dark) {
    .list .sqadhkmv.noGap > .separator:has(.date) {
        box-shadow: var(--modalBg) 0px 0px 15px -4px inset !important;
    }
}
.separator .date span {
    line-height: 40px;
    font-size: 13px;
}

/** REDESIGN tabs profils TL **/
._tab_1ygvy_1 {
    margin: calc(var(--margin) / 2) 10px 20px 10px !important;
    box-shadow: 0 4px 12px var(--shadow) !important;
}

/** Vertical alignement icons **/
.ph-lg {vertical-align: -0.18em !important;}

/** REDESIGN input (switch, text area, etc) **/
.ziffeomt > .button {outline: solid 2.5px var(--swutchOffFg) !important;}
.ziffeomt > input:checked ~ .button {outline: solid 2.5px var(--swutchOnFg) !important;}
.input {outline: solid 2.5px var(--divider) !important; border-radius: var(--radius);}

/** REDESIGN danger button **/
/* Drop menu */
.danger:hover {color: var(--fgOnAccent) !important;}
.danger:hover::before {background: var(--warn) !important; }
.danger {color: var(--warn) !important;}
/* Settings */
.bghgjjyj.danger  {
    background: var(--panel) !important;
    border: solid 2.5px var(--warn) !important;
}
.bghgjjyj.danger:hover  {background: var(--warn) !important;}
.bghgjjyj.danger .content  {color: var(--warn) !important;}
.bghgjjyj.danger:hover .content {color: var(--fgOnAccent) !important;}
.bghgjjyj {border-radius: var(--radius) !important;}
.group .items .item.danger:hover {background: var(--warn) !important;}


/** REDESIGN profile's banner **/
/* Fix position banner */
.ftskorzw > .main > .profile > .main > .banner-container > .banner {
    background-position: center !important;
}
/* Update banner shadow */
.ftskorzw > .main > .profile > .main > .banner-container > .banner {box-shadow: 0px -5em 30px var(--X11) inset !important;}
.ftskorzw > .main > .profile > .main > .banner-container > .title > .nameColumn > .name {text-shadow: 0 0 8px var(--X11) !important;}


/** Color update new post "Publish" button **/
._buttonGradate {background: var(--accent);}


/** True opaque theme **/
header.fdidabkb::after {opacity: 1 !important;}
:root {
    --acrylicPanel: var(--popup) !important;
}
/* No background image on profiles */
.ftskorzw > .main > .profile > .main > .banner-container > .banner::before { display: none; }


/** Drop menu "Signalements" sections **/
.vblkjoeq {margin: 0 2px 0 2px !important;}


/** Hide up arrow in threads **/
.reply-icon { display: none !important;}


/*** NOTIFICATIONS ***/
/* Padding adjustement */
.sub-icon { padding: 1px !important; }
/* Color update notification type icons */
.qglefbjs > .head > .sub-icon.renote { background: var(--renote) !important;}
.qglefbjs > .head > .sub-icon.followRequestAccepted, .qglefbjs > .head > .sub-icon.follow, .qglefbjs > .head > .sub-icon.pollEnded { background: var(--accentDarken) !important;}
/* Not sticky profile picture */
.qglefbjs > .head {position: relative !important;}
/* Deleted "Unread" and "Mention" tabs */
.tabs .tab[aria-label="Non lu"], .tabs .tab[aria-label="Mentions"] {display: none !important;}
/* Redesign MP's notifications */
div:has(> article.article i.ph-envelope-simple-open), div:has(> article.reply-to i.ph-envelope-simple-open) {border: none;}
article.article i.ph-envelope-simple-open, article.reply-to i.ph-envelope-simple-open {
    background: none;
    padding: 0;
}
article.article i.ph-envelope-simple-open, article.reply-to i.ph-envelope-simple-open {color: var(--fg) !important;}


/*** TIMELINE ***/
/** Add left border **/
.dkgtipfy:not(.isMobile) > .contents {
    border-left: .5px solid var(--divider);
}


/** REDESIGN header panels **/
.ebkgocck > .body > .header, .ukygtjoj > header {padding: 2px 1px 0px 1px !important;}


/** REDESIGN boosted article **/
/* Add box-shadow */
.sqadhkmv:not(.noGap) .note-container.renote{
    /*background: linear-gradient(180deg, rgba(245, 25, 150,0.3), var(--panel)),
	url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.7' numOctaves='1' stitchTiles='stitch'/%3E%3CfeBlend mode='color-dodge'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E") !important;*/
    box-shadow: var(--renote) 0px 1px 4px, var(--renote) 0px 2px 10px -3px, color-mix(in srgb, var(--renote) 40%, transparent) 0px -6px 3px inset !important;
    outline: 0.15rem solid color-mix(in srgb, var(--renote) 18%, transparent) !important;
}
@media (prefers-color-scheme: dark) {
    .sqadhkmv:not(.noGap) .note-container.renote{
        /* box-shadow: color-mix(in srgb, var(--renote) 30%, transparent) 0px 1px 4px, color-mix(in srgb, var(--renote) 30%, transparent) 0px 2px 10px -3px, color-mix(in srgb, var(--renote) 40%, transparent) 0px -6px 3px inset !important; */
        box-shadow: color-mix(in srgb, var(--renote) 30%, transparent) 0px 1px 4px, color-mix(in srgb, var(--renote) 30%, transparent) 0px 2px 10px -3px, var(--modalBg) 0px -6px 5px inset !important;
        outline: 0.15rem solid color-mix(in srgb, var(--renote) 50%, transparent) !important;
    }
}
/* Hide date and visibility of boost */
.note-context > .renote > .info { display: none !important; }
/* Position adjustement text */
.tkcbzcuz .note-context > .line { margin-right: 0px !important; }


/** Redesign notes **/
/* Border update */
._content_b6w6v_6 > .fcuexfpr .lxwezrsl > .note-container {
    z-index: 999;
    box-shadow: 0 0px 5px var(--X11) !important;
    border-radius: var(--radius);
    border-bottom: none !important;
}
.sqadhkmv:not(.noGap) .note-container, ._gap > .note-container {outline: 0.15rem solid var(--divider);}
.sqadhkmv.noGap:not(.elsfgstc) {border: 0.15rem solid var(--divider);}
.sqadhkmv.noGap > :not(:last-child) {border-bottom: 0.15rem solid var(--divider) !important;}

.noGap .note-container { outline: none; }
/* Update article's header text-shadow */
.kkwtjztg.header {text-shadow: none !important;}
/* Space between drop menu and actions buttons */
.article > div > footer > .button:last-child, .main > div > footer > .button:last-child {
    margin-left: auto !important;
}
/* More margin top of the footer */
.tkcbzcuz > .article > .main > .footer, .reply > .main > .body > .footer {margin-top: .7em !important;}


/** REDESIGN "Display more" button **/
._button.fade > span, .showLess > span { box-shadow: 0 0 7px 7px var(--cwBg) !important; }
.fade > span, .showLess > span {
    background: var(--cwBg) !important;
    color: var(--cwFg) !important;
    font-weight: 600;
}
.fade:hover > span, .showLess:hover > span {
    background: var(--cwFg) !important;
    color: var(--cwBg) !important;
}


/** REDESIGN announcement **/
.ruryvtyk > .announcement {padding: 0 0 1.5rem 0 !important;}
/* Update "Understand" button */
section.announcement ._footer {
    padding: 0 30px 0 30px;
    margin: 20px 0 0 0;
}


/** REDESIGN reaction buttons **/
.hkzvhatu.canToggle.reacted::before {
    background: var(--accent) !important;
    opacity: 0.2;
    border-radius: var(--radius) !important;
}
.hkzvhatu.canToggle.reacted > .count {
    color: var(--fg) !important;
    font-weight: 100 !important;
}
.hkzvhatu.canToggle::before {
    background: var(--fg) !important;
    opacity: 0.1;
    border-radius: var(--radius) !important;
}
.hkzvhatu.canToggle:hover::before {
    opacity: 0.2 !important;
}


/** Update hover color in Emoji picker **/
.omfetrab > .emojis section > .body > .item:hover {
    background: var(--accentedBg) !important;
}


/** REDESIGN hashtags, links and mentions **/
/* Hashtags */
.mfm-object a[href^="/tags/"]::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background: var(--hashtag);
    opacity: .1;
    z-index: -1;
}
.mfm-object a[href^="/tags/"]:hover::before {
    background: var(--fg) !important;
    opacity: 1 !important;
    text-decoration: none !important;
}
.mfm-object a[href^="/tags/"] {
    position: relative;
    display: inline-block;
    padding: 1px 8px 1px 8px;
    margin-block: 2px;
    border-radius: 999px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    isolation: isolate;
    text-decoration: none !important;
}
.mfm-object a[href^="/tags/"]:hover {
    color: var(--bg) !important;
    text-decoration: none !important;
}

/* Links */
.mfm-object ._link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background: var(--link);
    opacity: .1;
    z-index: -1;
}
.mfm-object ._link:hover::before {
    background: var(--fg) !important;
    opacity: 1 !important;
}

.mfm-object ._link {
    position: relative;
    display: inline-block;
    padding: 1px 6px 1px 8px;
    margin-block: 2px;
    border-radius: 999px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    isolation: isolate;
    overflow: clip;
}
.mfm-object ._link:hover {
    color: var(--bg) !important;
}
.mfm-object a._link, .mfm-object a._link:hover {text-decoration: none !important;}

._link > span {
    text-decoration: none !important;
}
.url .pathname, .url .query, .url .hash, .mention .host, .mk-acct > .host {
    opacity: 0.6 !important;
    font-size: 90%;
}
.url .schema {display: none;}

/* Mentions */
.mention:hover::before {
    background: var(--fg) !important;
    opacity: 1 !important;
}

.mention:hover {
    color: var(--bg) !important;
}
a.mention, a.mention:hover {text-decoration: none !important;}

.mention {padding: 0px 8px 2px 2px !important;}


/** Changement d'icones **/
/* Links */
.ph-bold.ph-arrow-square-out::before { content: "\e97f"; }
.url > .icon { font-size: 1.1em; }
/* Plugin/Extension */
.ph-bold.ph-plug::before { content: "\ec9d"; }
/* Copy link */
.ph-bold.ph-link-simple::before { content: "\ea6e"; }
/* Boost */
.ph-bold.ph-repeat::before { content: "\ecb6"; }
/* Reply */
.ph-bold.ph-arrow-u-up-left::before { content: "\e92e"; }
/* Public post */
.ph-bold.ph-planet::before { content: "\eb5b"; }
/* Non-listed post */
._popup .ph-bold.ph-house::before, ._visibility_1lqmx_1 .ph-bold.ph-house::before { content: "\ebd7"; }
/* Direct message */
.ph-bold.ph-envelope-simple-open::before { content: "\eac7"; }
/* Upload */
.ph-bold.ph-upload::before { content: "\ed9e"; }
/* Control panel */
.ph-bold.ph-door::before { content: "\eb42"; }
/* Modified pencil */
.ph-bold.ph-pencil::before { content: "\ec59"; }
/* Moderation mute button */
.ph-bold.ph-microphone-slash::before { content: "\ed13"; }
/* Moderation suspend button */
.ph-bold.ph-snowflake::before { content: "\ec50"; }
/** Local post -- SPECIAL PECULIAR.FLORIST **/
.tabs > .tab > .ph-users::before, ._localOnly_1mu3p_29 > ._icon_1mu3p_34 > .ph-users::before, .right > .local-only > .ph-users::before, .info > ._localOnly_1lqmx_2 > .ph-users::before { content: "\eb1f"; }


/** REDESIGN articles's CW **/
.cw {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border-radius: 0.9em;
    padding: 5px 0 5px 0 !important;
    border: 0.15em solid color-mix(in srgb, var(--warn) 50%, transparent);
    color: var(--warn);
    box-shadow: var(--warn) 0px 0px 18px -6px inset !important;
}
@media (prefers-color-scheme: dark) {
    .cw {
        border: 0.15em solid color-mix(in srgb, var(--warn) 70%, transparent);
        box-shadow: var(--warn) 0px 0px 16px 0px inset !important;
    }
}


/** REDESIGN muted articles **/
._blur_text {
    filter: blur(0px);
    color: var(--warn);
}


/** FONTS SIZE **/
/* Visibility menu new post */
._item_1mu3p_11 {font-size: 13px !important;}
/* Profile information popup */
.ftskorzw > .main > .profile > .main > .status > a > span {font-size: 80% !important;}
/* Trends widget */
.wbrkwala > .tags > div > .tag > p {
    font-size: 80% !important;
}
/* Navbar buttons */
.mvcprjjd:not(.iconOnly) > .body > .middle > .item > .text {font-size: 0.95em !important;}
/* Articles content & profile description */
.body > .wrmlmaau > .content > .body > .mfm-object, .ftskorzw > .main > .profile > .main > .description {font-size: 1.05em !important;}
/* User card */
.user-card .description {font-size: 0.85em !important;}


/** Instance labels on notes **/
.hpaizdrt {
    background: var(--infoBg) !important;
    padding: .4em .5em;
}
.hpaizdrt > .name { 
    text-shadow: 0px 0px 3px var(--X14) !important;
    color: var(--infoFg);
}


/** Update mask swiper **/
.swiper {
    mask: linear-gradient(to right,transparent 1%,black 20px calc(100% - 20px),transparent 99%);
    -webkit-mask: linear-gradient(to right,transparent 1%,black 20px calc(100% - 20px),transparent 99%);
}


/*** NAVBAR ***/
/** Profile banner **/
.mvcprjjd > .body > .top > div.banner {display: none;}
/** Centered posting button **/
.mvcprjjd:not(.iconOnly) > .body > .bottom > .post > .icon, .mvcprjjd:not(.iconOnly) > .body > .bottom > .post > .text {
    left: 4.6rem !important;
    transform: none !important;
}
.mvcprjjd:not(.iconOnly) > .body > .bottom > .post > .text {
    margin-left: 0.4rem !important;
}

/** Static new notification indicator **/
.mvcprjjd > .body > .middle > .item > .indicator, .szkkfdyq > .main > * > .animateIndicator, .szkkfdyq > .sub > * > .animateIndicator {
    animation: none !important;
    top: -9px !important;
    left: 24px !important;
    font-size: 10px !important;
}

/** Update radius navbar's button **/
.mvcprjjd > .body > .bottom > .post::before, .mvcprjjd > .body > .middle > .item.active::before, .mvcprjjd > .body > .middle > .item:hover::before  {
    border-radius: var(--radius) !important;
}




/**** 🐛 BUGS FIX 🐛 ****/

/** Allow resize textarea **/
textarea.text { resize: vertical !important; }


/** Profile reaction's page **/
.afdcfbfb > .header {margin: 0 !important;}
/* :not(.noGap):not(._block) > .note-container:not(.caution) { border-radius: 0 0 var(--radius) var(--radius);} */

/** Adjustement reply line in notification panel **/
.tkcbzcuz .note-context.collapsedReply .line::after {
    height: calc(50% + 3px) !important;
    width: calc(var(--avatarSize) / 2 + -1px) !important;
}


/*** NAVBAR ***/
/** Underline bug hover navbar **/
.mvcprjjd > .body > .middle > a.item, .mvcprjjd > .body > .middle > a.item:hover, .szkkfdyq a, .szkkfdyq a:hover {text-decoration: none !important;}

/** Fixe blink post button **/
.mvcprjjd > .body > .bottom > .post::before {
    background: var(--accent) !important;
}
.mvcprjjd > .body > .bottom > .post:hover::before {
    background: var(--X8) !important;
}


/*** TIMELINE ***/
/** Fix croped first note **/
.swiper { padding-top: 2px !important;}




/*** 🍬 FEATURES 🍬 ***/

/** Hide my notes in timeline **/
.sqadhkmv.notes .note-container:has(.name[href="/@minybolito"]) {display: none !important;}
.sqadhkmv.noGap .note-container:has(.name[href="/@minybolito"]) {display: block !important;}


/** Hided activity indicator **/
div.active.indicator, div.unknown.indicator {display: none;}


/** Hide boost button for non alt notes **/
div.note-container div.main:has(div.media img:not([alt])) footer button.canRenote, div.note-container div.main:has(div.media video:not([alt])) footer button.canRenote { display: none; }
/* by @brome@social.marud.fr */
.image img:not([alt]), .image img[alt=""], .plyr:has(.plyr__video-wrapper video:not([aria-label])), .plyr:has(.plyr__video-wrapper video[aria-label=""]) {
    animation: none;
    border: 0;
    border-radius: 0;
}


/** Hide the parent note for replies **/
main#maincontent:has(header.tabs) article.reply-to>div.main, div.sticky-container[data-v-f71ddef4]:has(header.fdidabkb) article.reply-to>div.main { opacity: 0.3; }
main#maincontent:has(header.tabs) article.reply-to>div.main>div.body>.body, div.sticky-container[data-v-f71ddef4]:has(header.fdidabkb) article.reply-to>div.main>div.body>.body {
    height: 56px;
    mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
main#maincontent:has(header.tabs) article.reply-to>div.main>div.body>.body:has(div.collapsed), div.sticky-container[data-v-f71ddef4]:has(header.fdidabkb) article.reply-to>div.main>div.body>.body:has(div.collapsed) {
    height: 150px;
    mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0.33)));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0.33)));
}
main#maincontent:has(header.tabs) article.reply-to>div.main>div.body>.footer,
main#maincontent:has(header.tabs) article.reply-to>div.main>div.body .body a.mention,
main#maincontent:has(header.tabs) article.reply-to>div.main>div.body .body br, div.sticky-container[data-v-f71ddef4]:has(header.fdidabkb) article.reply-to>div.main>div.body>.footer,
div.sticky-container[data-v-f71ddef4]:has(header.fdidabkb) article.reply-to>div.main>div.body .body a.mention,
div.sticky-container[data-v-f71ddef4]:has(header.fdidabkb) article.reply-to>div.main>div.body .body br {
    display: none; 
}
.wrpstxzv.reply-to .line {opacity: 0.5 !important;}
/* by @brome@social.marud.fr */
